@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l42cn3');
  src:  url('fonts/icomoon.eot?l42cn3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l42cn3') format('truetype'),
    url('fonts/icomoon.woff?l42cn3') format('woff'),
    url('fonts/icomoon.svg?l42cn3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sicon-"], [class*=" sicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sicon-pages:before {
  content: "\edfd";
}
.sicon-vision:before {
  content: "\f086";
}
